doctype 5
html
  head
    title= meta.title
    meta(name='description', content=meta.description)
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    
    script(type='text/javascript', async, src='/javascripts/analytics.js');