extends layout

block content
  article.resume-content.test
    h1.resume-header Mike Pjura
    section#summary.resume-section
      p An enthusiastic Web Developer who thrives in environments that require a mix of creativity and critical thinking. Skilled at using HTML, CSS and Javascript to develop high performance, easily maintainable web sites and applications.
      p 14 years experience in web design and development with a proven ability and passion to solve problems creatively.
    section#experience.resume-section
      h2.resume-subhead Experience
      section#hearst.resume-section.experience-section
        header.experience-header
          time.date April 2008 - Present
          hgroup
            h3.title Senior Producer
            h4.company Hearst Digital Media
        ul.experience-description
          li Developed a responsive slideshow template using CSS3 media queries, HTML and jQuery.
          li Developed the front-end for a registration/login system using JavaScript and HTML5 localStorage API with graceful degradation using cookies.
          li Built the front-end for popularmechanics.com, goodhousekeeping.com and elle.com using sematic HTML5, CSS3, jQuery and HTML::Template.
          li Contributed to the front-end for delish.com and womansday.com using HTML, CSS, jQuery and HTML::Template.
      section#freelance.resume-section.experience-section
        header.experience-header
          time.date August 1998 - Present
          h3.title Freelance Web Developer
        ul.experience-descriptionul
          li Designed sites for various small businesses and working professionals
          li Developed sites using HTML5, XHTML, CSS3, CSS, Javascript, jQuery, Wordpress, PHP and Node.
      section#kanban.resume-section.experience-section
        header.experience-header
          time.date June 2012 - September 2012
          hgroup
            h3.title Senior Javascript Engineer
            h4.company Kanban Solutions
        ul.experience-description
          li Contributed to the front-end for nikonusa.com's mobile site using Javascript, jQuery Mobile, HTML5 and CSS3
          li Contributed to the front-end for nikonusa.com's Learn & Explore channel using Javascript, jQuery, HTML5 and CSS3
      section#vonage.resume-section.experience-section
        header.experience-header
          time.date November 2005 - April 2008
          hgroup
            h3.title Web Specialist
            h4.company Vonage
        ul.experience-description
          li Lead Developer for an Ajax-driven technical support tool using XHTML, CSS and Javascript.
          li Provided operational support and content development for intranet sites and external help site using XHTML, CSS, Javascript and PHP.
      section#agency.resume-section.experience-section
        header.experience-header
          time.date October 1998 - August 2000
          hgroup
            h3.title Site Builder
            h4.company Agency.com
        ul.experience-description
          li Developed dynamic customer-centered websites using HTML, CSS and Javascript.
          li Aided in the web design and requirements process for various corporate clients.