body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #111111;
}
a {
  color: #00b7ff;
}
.logo {
  margin-bottom: 15px;
}
.logo--title {
  margin: 0;
}
.logo--subtitle {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
}
